# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


.env
.env.local
.env.*.local

circuits/circuit_final
circuits/circuit_final_100
circuits/circuit_final_1000
credentials/

src/circuit_final.json
src/circuit_final_100.json
src/circuit_final_1000.json